<div class="modal-backdrop" (click)="onBackdropClick($event)">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <div class="modal-header">
            <h2 class="modal-title">Create Announcement</h2>

        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="title">Title *</label>
                <input id="title" type="text" class="form-control" formControlName="title" placeholder="Title" />
            </div>

            <div class="form-group">
                <label for="content">Content *</label>
                <textarea id="content" class="form-control" formControlName="content" maxlength="225" rows="5"
                    placeholder="Write your announcement..."></textarea>

                <div class="char-counter">
                    {{ (form.get('content')?.value?.length || 0) }}/225
                </div>

                <div class="field-error"
                    *ngIf="form.get('content')?.hasError('maxlength') && form.get('content')?.touched">
                    Content cannot exceed 225 characters.
                </div>
            </div>

            <div class="modal-actions">
                <button type="button" class="btn-cancel" (click)="onClose()">Cancel</button>
                <button type="submit" class="btn-submit" [disabled]="form.invalid">Submit</button>
            </div>
        </form>
    </div>
</div>