<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <h2>COOK SYSTEMS STAGE</h2>
    </div>

    <div class="navbar-menu">
      @if (authService.getCurrentUser(); as user) {
        <div class="user-info">
          <span class="user-name">
            {{ user.profile.firstName || 'User' }} {{ user.profile.lastName || '' }}
          </span>
          @if (user.admin) {
            <span class="user-badge">Admin</span>
          }
        </div>
      }
      <button routerLink="/announcements">
        Home
      </button>
      @if (authService.isAdmin();) {

        <button routerLink="/select-company">
          Company
        </button>
      }
      <button routerLink="/teams">
        Teams
      </button>
      @if (authService.isAdmin(); ) {
        <button routerLink="/user-registry">
          Users
        </button>
      }
      <button class="btn-logout" (click)="onLogout()">
        Logout
      </button>


    </div>
  </div>
</nav>
