<app-navbar></app-navbar>

<div *ngIf="!showModal" class="announcements-container">
  <div class="announcements-header">
    <h1>Announcements</h1>
    <button *ngIf="isAdmin" class="announcements-button" (click)="openModal()">New</button>
  </div>
  <hr>
  <app-announcement-card *ngFor="let a of announcements;" [announcement]="a"></app-announcement-card>
</div>

<app-create-announcement-modal
  *ngIf="showModal && company"
  [companyId]="company.id"
  [companyName]="company.name"
  (created)="onCreateAnnouncement($event)"
  (close)="showModal=false">
</app-create-announcement-modal>

