<app-navbar></app-navbar>
<div class="announcements-container">
  <h1>Announcements Page</h1>

  <div *ngIf="company; else noCompany">
    <p>Selected company: {{ company.name }}</p>
<div>
  <app-navbar></app-navbar>
  <div class="announcements-container">
    <h1>Announcements</h1>
    <hr>
    <app-announcement-card *ngFor="let a of announcements;"
      [announcement]="a"></app-announcement-card>
    <div *ngIf="company">
      <p>Selected company: {{ company.name }}</p>
    </div>
  </div>
</div>