<app-navbar></app-navbar>

<div class="select-company-container">
  <h1>Select Company</h1>

  <div *ngIf="loading">Loading companies...</div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <div *ngIf="!loading && !error">
    <select [(ngModel)]="selectedCompanyId" (change)="onSelectCompany()">
      <option [ngValue]="null" disabled>Select a company</option>
      <option *ngFor="let company of companies" [ngValue]="company.id">
        {{ company.name }}
      </option>
    </select>
  </div>
</div>
