.card {
    background-color: #394c71;
    border-radius: 10px;
    color: white;
    padding: 20px;
    width: 50%;
    text-align: left;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.author-date {
    display: flex;
    gap: 16px;
    width: min(640px, 100%);
    justify-content: space-between;
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-size: large;
}

.content{
    font-family: "Inter", sans-serif;
    font-style: normal;
}